extends layout

block content
  div.page-header
   form.form-horizontal(action="/pnrcreate", method="post")
    .row
      .col-md-5
        input.form-control(type="text", name="pnr", placeholder="Pnr Number")
      .col-md-5
        input.form-control(type="text", name="mobile", placeholder="Mobile Number")
      .col-md-2
        button.btn.btn-primary.btn-block(type="submit") Track

  - each user in users
    div.panel.panel-default
      div.panel-body
        h3= user.pnr
        h3= user.mobile
          small.pull-right
            a(href='/ed/#{user._id}') edit
             &nbsp;
            a(href='/del/#{user._id}') delete
